:root {
    --background-color: white;
    --text-color: black;
    --color: #003366;
    --link-color: #0066cc;
}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
    --color: #3399ff;
    --link-color: #66ccff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

#toggle-btn {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#top {
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: #0066cc;
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.main-header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    border-radius: 10px;
}

h2 {
    color: var(--color);
    text-align: center;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

main h3 {
    color: var(--color);
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
    margin: 0 auto;
}

table td {
    padding: 20px;
    vertical-align: top;
    border: 1px solid #ddd;
}

li::marker {
    color: #0066cc;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    margin: 10px auto;
}

@media (max-width: 768px) {
    table {
        display: block;
    }
    
    table tr {
        display: block;
        margin-bottom: 20px;
    }
    
    table td {
        display: block;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    
    header h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.2em;
    }
}